.flag-icon {
  width: 32px;
  height: 25px;
  border: 1px solid white;
  margin-bottom: -8px;
}

.flag-icon--popover {
  width: 26px;
  height: 19px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15)
}
