@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(-25px) scale(0.85);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.popover {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  background: white;
  border-radius:3px;
  line-height: $line-height-base;
  margin-top: -5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  // stop popover flashing on screen on pageload
  display: none;
}

.popover--large {
  width: 260px;
  margin-left: -130px;
}

// CSS triangle AND shadow
.popover:after, .popover:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border: 12px solid transparent;
  content: "";
  height: 0;
}

// CSS triangle (aka nipple)
.popover:after {
  border-bottom-color: white;
}

// triangle shadow
.popover:before {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  filter: blur(1px);
  margin-bottom: 1px;
}

.popover-link {
  padding-right: 15px
}

.popover-link:after {
  position: absolute;
  top: 7px;
  right: 0;
  border: 5px solid transparent;
  border-top-color: $primary-color;
  content: "";
}

.popover-link--invert:after {
  border-top-color: white;
}

.popover--country-select {
  bottom: 0;
  margin-bottom: 44px;
  width: 230px;
  left: -162px;
}

.popover--country-select:after, .popover--country-select:before {
  top: 100%;
  border-color: transparent;
}

.popover--country-select:before {
  border-top-color: rgba(0, 0, 0, 0.1);
  margin-top: 1px;
}

.popover--country-select:after {
  border-top-color: white;
}

.popover-show-enter,
.popover-show-leave {
  position: absolute;
  transition: all 100ms cubic-bezier(.55,0,.1,1);
}

.popover-show-enter {
  z-index: 10000;
}

.popover-show-enter.popover-show-enter-active,
.popover-show-leave {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.popover-show-enter,
.popover-show-leave.popover-show-leave-active {
  transform: translateY(-25px) scale(0.85);
  opacity: 0;
}

.popover--country-select.popover-show-enter.popover-show-enter-active,
.popover--country-select.popover-show-leave {
  transform: translateY(0) scale(1);
}

.popover--country-select.popover-show-enter,
.popover--country-select.popover-show-leave.popover-show-leave-active {
  transform: translateY(25px) scale(0.85);
}
