@import '../mixins/breakpoints-mixin';

.site-header {
  margin: 0 auto;
  max-width: $site-max-width;
  min-width: $site-min-width;
  z-index: 1;
}

.site-header-wrapper {
  position: absolute;
  width: 100%;
}

.site-header__product-link {
  padding: $space-xsmall $space-medium;
  display: block;
}

.site-header__product-link:hover .site-header__product-link-title {
  text-decoration: underline;
}
